In [1]:
import numpy as np
import pandas as pd
#import seaborn as sns
#import matplotlib.pyplot as plt
#from collections import Counter
import datetime
import collections
import itertools as itt
import locale
locale.setlocale(locale.LC_ALL, '')

'Russian_Russia.1251'

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1108,tt0295700,12600000,28650575,Wrong Turn,Desmond Harrington|Eliza Dushku|Emmanuelle Chr...,Rob Schmidt,It's the last one you'll ever take.,Chris crashes into a carload of other young pe...,84,Horror|Thriller,Summit Entertainment|Newmarket Capital Group|R...,5/30/2003,5.9,2003
1434,tt0383574,200000000,1065659812,Pirates of the Caribbean: Dead Man's Chest,Johnny Depp|Orlando Bloom|Keira Knightley|Bill...,Gore Verbinski,Jack is back!,The high-seas adventures of happy-go-lucky tro...,151,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,6/20/2006,6.8,2006
898,tt0279113,8000000,16856124,The Good Girl,Jennifer Aniston|Jake Gyllenhaal|Zooey Deschan...,Miguel Arteta,It's her last best chance... is she going to t...,A discount store clerk strikes up an affair wi...,93,Drama|Comedy|Romance,Fox Searchlight Pictures|Hungry Eye Lowland Pi...,1/12/2002,5.8,2002
384,tt1282140,8000000,74952305,Easy A,Emma Stone|Stanley Tucci|Amanda Bynes|Cam Giga...,Will Gluck,The rumour-filled totally false account of how...,After a little white lie about losing her virg...,92,Comedy,Screen Gems|Olive Bridge Entertainment,9/10/2010,6.6,2010
1445,tt0477347,110000000,574480841,Night at the Museum,Ben Stiller|Jake Cherry|Carla Gugino|Robin Wil...,Shawn Levy,Where History Comes To Life,Chaos reigns at the natural history museum whe...,108,Action|Adventure|Comedy|Family|Fantasy,Ingenious Film Partners|Twentieth Century Fox ...,10/20/2006,6.2,2006

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
def List_set_split(List,separator='|'):
    result=[]
    for i in List:
        result.extend(i.split(separator))
    return list(set(result))

data.release_date=data.release_date.apply(lambda x: datetime.datetime.strptime(x,'%m/%d/%Y'))
da_pr=data[['original_title','imdb_id','release_year','revenue','budget']]
da_pr['profit']=data['revenue']-data['budget']
data.sample(5)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

<ipython-input-4-38fb12ca1335>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  da_pr['profit']=data['revenue']-data['budget']

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1535,tt0475276,15000000,76286096,United 93,J.J. Johnson|Polly Adams|Trish Gates|Nancy McD...,Paul Greengrass,"September 11, 2001. Four planes were hijacked....",A real time account of the events on United Fl...,111,Drama|History|Crime|Thriller|Action,Universal Pictures|StudioCanal|Sidney Kimmel E...,2006-04-28,6.6,2006
272,tt0362478,30000000,33333531,The Box,Cameron Diaz|James Marsden|Frank Langella|Mich...,Richard Kelly,All you have to do is push the button.,"Norma and Arthur Lewis, a suburban couple with...",115,Thriller|Science Fiction,Media Rights Capital|Lin Pictures|Warner Bros....,2009-09-17,5.3,2009
1695,tt0396555,150000000,169332978,Meet the Robinsons,Tom Selleck|Laurie Metcalf|Angela Bassett|Nico...,Stephen J. Anderson,Think your family's weird?,"In this animated adventure, brilliant preteen ...",95,Animation|Comedy|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2007-03-23,6.7,2007
29,tt4046784,61000000,311256926,Maze Runner: The Scorch Trials,Dylan O'Brien|Kaya Scodelario|Thomas Brodie-Sa...,Wes Ball,The Maze Was Just the Beginning.,Thomas and his fellow Gladers face their great...,132,Action|Science Fiction|Thriller,Gotham Group|Temple Hill Entertainment|TSG Ent...,2015-09-09,6.4,2015
1580,tt0319262,125000000,544272402,The Day After Tomorrow,Dennis Quaid|Jake Gyllenhaal|Emmy Rossum|Dash ...,Roland Emmerich,Where will you be?,"After years of unabated global warming, the gr...",124,Action|Adventure|Science Fiction|Thriller,Lions Gate Films|Twentieth Century Fox Film Co...,2004-05-26,6.1,2004

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'}

In [6]:
# тут пишем ваш код для решения данного вопроса:
data_gr=data[['budget','original_title','imdb_id']].sort_values(['budget'],ascending=False).head(6)
o_t=data_gr[data_gr['budget']==data_gr['budget'].max()]['original_title']
i_id=data_gr[data_gr['budget']==data_gr['budget'].max()]['imdb_id']
display(data_gr,o_t,i_id)

         budget                               original_title    imdb_id
723   380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650
1669  300000000     Pirates of the Caribbean: At World's End  tt0449088
14    280000000                      Avengers: Age of Ultron  tt2395427
1014  260000000                                  John Carter  tt0401729
380   260000000                                      Tangled  tt0398286
1676  258000000                                 Spider-Man 3  tt0413300

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

723    tt1298650
Name: imdb_id, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2']='Gods and Generals (tt0279111)'

In [9]:
data_gr2=data[['runtime','original_title','imdb_id']].sort_values(['runtime'],ascending=False).head(6)
o_t=data_gr2[data_gr2['runtime']==data_gr2['runtime'].max()]['original_title']
i_id=data_gr2[data_gr2['runtime']==data_gr2['runtime'].max()]['imdb_id']
display(data_gr2,o_t,i_id)

      runtime                                 original_title    imdb_id
1157      214                              Gods and Generals  tt0279111
1081      201  The Lord of the Rings: The Return of the King  tt0167260
1736      191                                     Grindhouse  tt0462322
1336      187                                      King Kong  tt0360717
504       183                                   Pearl Harbor  tt0213149
1183      180                        The Wolf of Wall Street  tt0993846

1157    Gods and Generals
Name: original_title, dtype: object

1157    tt0279111
Name: imdb_id, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3']='Winnie the Pooh (tt1449283)'

In [11]:
data_gr3=data[['runtime','original_title','imdb_id']].sort_values(['runtime'],ascending=True).head(6)
o_t=data_gr3[data_gr3['runtime']==data_gr3['runtime'].min()]['original_title']
i_id=data_gr3[data_gr3['runtime']==data_gr3['runtime'].min()]['imdb_id']
display(data_gr3,o_t,i_id)

      runtime        original_title    imdb_id
768        63       Winnie the Pooh  tt1449283
930        72  Return to Never Land  tt0280030
1097       72     The Jungle Book 2  tt0283426
1408       76               Valiant  tt0361089
1626       76     Home on the Range  tt0299172
1348       77          Corpse Bride  tt0121164

768    Winnie the Pooh
Name: original_title, dtype: object

768    tt1449283
Name: imdb_id, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4']=110

In [13]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5']=107

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6']='Avatar (tt0499549)'
# лучше код получения столбца profit вынести в Предобработку что в начале

In [17]:
da_pr[da_pr['profit']==da_pr['profit'].max()]

    original_title    imdb_id  release_year     revenue     budget      profit
239         Avatar  tt0499549          2009  2781505847  237000000  2544505847

# 7. Какой фильм самый убыточный?

In [18]:
answers['7']='The Lone Ranger (tt1210819)'
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)'}

In [19]:
da_pr[da_pr['profit']==da_pr['profit'].min()]

       original_title    imdb_id  release_year   revenue     budget     profit
1245  The Lone Ranger  tt1210819          2013  89289910  255000000 -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8']=da_pr[da_pr['revenue']>da_pr['budget']].imdb_id.count()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478}

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
df=data[(data['release_year']==2008)][['original_title','imdb_id','revenue']]
a=df[df['revenue']==df['revenue'].max()]['original_title'].to_string(index=False)
b=df[df['revenue']==df['revenue'].max()]['imdb_id'].to_string(index=False)
answers['9']=a.strip()+' ('+b.strip()+')'
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)'}

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [22]:
df=da_pr[(da_pr['release_year']<=2014)&(da_pr['release_year']>=2012)]
a=df[df['profit']==df['profit'].min()]['original_title'].to_string(index=False)
b=df[df['profit']==df['profit'].min()]['imdb_id'].to_string(index=False)
answers['10']=a.strip()+' ('+b.strip()+')'
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)'}

# 11. Какого жанра фильмов больше всего?

In [23]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11']='Drama'
Genres_list=[]
for i in range(len(data['genres'])):
    Genres_list.extend(data['genres'][i].split('|'))

c=collections.Counter()

for genr in Genres_list:
    c[genr]+=1
print(c)

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [24]:
answers['12']='Drama'
dt=data[data['revenue']>data['budget']]

Genres_list.clear()
for i in dt['genres']:
    Genres_list.extend(i.split('|'))

c=collections.Counter()

for genr in Genres_list:
    c[genr]+=1

print(c)

Counter({'Drama': 560, 'Comedy': 551, 'Thriller': 446, 'Action': 444, 'Adventure': 337, 'Romance': 242, 'Crime': 231, 'Family': 226, 'Science Fiction': 195, 'Fantasy': 188, 'Horror': 150, 'Animation': 120, 'Mystery': 119, 'Music': 47, 'History': 46, 'War': 41, 'Western': 12, 'Documentary': 7})

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [25]:
Director_list=[]

for i in data['director']:
    Director_list.extend(i.split('|'))
    
Dirs=list(set(Director_list))
rev_sum_list=[]

for director in Dirs:
    rev_sum_list.append(data[data['director'].str.contains(director)]['revenue'].sum())


Dir_rev=pd.DataFrame({'Director':Dirs,'Total_revenue':rev_sum_list})
answers['13']=Dir_rev['Director'][Dir_rev['Total_revenue']==Dir_rev['Total_revenue'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson'}

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [26]:
data_action=data[data['genres'].str.contains('Action')]
dir_list_action=[]

for i in data_action['director']:
    dir_list_action.extend(i.split('|'))

Dirs_action=list(set(dir_list_action))
dir_action_score=[]

for director in Dirs_action:
    dir_action_score.append(len(data_action[data_action['director'].str.contains(director)]))
    
Dir_act_score=pd.DataFrame({'Director':Dirs_action,'The number of movies in the action genre':dir_action_score})
#Dir_act_score.sort_values(by='The number of movies in the action genre',ascending=False)
answers['14']=Dir_act_score['Director'][Dir_act_score['The number of movies in the action genre']==Dir_act_score['The number of movies in the action genre'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez'}

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [27]:
data_r_y=data[data['release_year']==2012]
actorlist_ry=[]

for i in data_r_y['cast']:
    actorlist_ry.extend(i.split('|'))
    
actors_r_y=list(set(actorlist_ry))
reven_ry=[]

for actor in actors_r_y:
    reven_ry.append(data_r_y['revenue'][data_r_y['cast'].str.contains(actor)].sum())
    
ActorReven=pd.DataFrame({'Actor':actors_r_y,'Total revenue in 2012 y':reven_ry})
#ActorReven.sort_values(by='Total revenue in 2012 y',ascending=False)
answers['15']=ActorReven['Actor'][ActorReven['Total revenue in 2012 y']==ActorReven['Total revenue in 2012 y'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth'}

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [28]:
data_hi_budget=data[data['budget']>data['budget'].mean()]
actors=List_set_split(data_hi_budget['cast'])

how_manyT=[]

for actor in actors:
    how_manyT.append(len(data_hi_budget[data_hi_budget['cast'].str.contains(actor)]))
    
Actor_HMT=pd.DataFrame({'Actor':actors,'How many times has the actor starred':how_manyT})
#Actor_HMT.sort_values(by='How many times has the actor starred',ascending=False)
answers['16']=Actor_HMT['Actor'][Actor_HMT['How many times has the actor starred']==Actor_HMT['How many times has the actor starred'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon'}

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [29]:
data_starring_NC=data[data['cast'].str.contains('Nicolas Cage')]
genres_list=List_set_split(data_starring_NC['genres'])

genre_score=[]

for genre in genres_list:
    genre_score.append(len(data_starring_NC[data_starring_NC['genres'].str.contains(genre)]))
    
Genres_NC=pd.DataFrame({'Genres':genres_list,'How many times has Nicolas Cage starred':genre_score})
answers['17']=Genres_NC['Genres'][Genres_NC['How many times has Nicolas Cage starred']==Genres_NC['How many times has Nicolas Cage starred'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action'}

# 18. Самый убыточный фильм от Paramount Pictures

In [30]:
data_ParPic=data[data['production_companies'].str.contains('Paramount Pictures')]
data_ParPic['profit']=data_ParPic['revenue']-data_ParPic['budget']
a=data_ParPic[data_ParPic['profit']==data_ParPic['profit'].min()]['original_title'].to_string(index=False).strip()
b=data_ParPic[data_ParPic['profit']==data_ParPic['profit'].min()]['imdb_id'].to_string(index=False).strip()
answers['18']=a+' ('+b+')'
answers

<ipython-input-30-7fea7aaa0fd7>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_ParPic['profit']=data_ParPic['revenue']-data_ParPic['budget']

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)'}

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [31]:
R_Y_list=list(set(data['release_year']))

Tot_rev_RY=[]

for year in R_Y_list:
    Tot_rev_RY.append(data[data['release_year']==year]['revenue'].sum())
    
Totalrevenues=pd.DataFrame({'Release year':R_Y_list,'Total revenue':Tot_rev_RY})
#Totalrevenues.sort_values(by='Total revenue',ascending=False)
answers['19']=Totalrevenues['Release year'][Totalrevenues['Total revenue']==Totalrevenues['Total revenue'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015'}

# 20. Какой самый прибыльный год для студии Warner Bros?

In [32]:
dataWB=data[data['production_companies'].str.contains('Warner Bros')]

R_Y_list=list(set(dataWB['release_year']))

Tot_rev_RY=[]
Tot_budget_RY=[]
Tot_profit_RY=[]

for year in R_Y_list:
    Tot_rev_RY.append(dataWB[dataWB['release_year']==year]['revenue'].sum())
    Tot_budget_RY.append(dataWB[dataWB['release_year']==year]['budget'].sum())
    Tot_profit_RY.append(dataWB[dataWB['release_year']==year]['revenue'].sum()-dataWB[dataWB['release_year']==year]['budget'].sum())
    
Totalfinances=pd.DataFrame({'Release year':R_Y_list,'Total revenue':Tot_rev_RY,'Total budget':Tot_budget_RY,'Total profit':Tot_profit_RY})
#Totalfinances.sort_values(by='Total profit',ascending=False)
answers['20']=Totalfinances['Release year'][Totalfinances['Total profit']==Totalfinances['Total profit'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014'}

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [33]:
month_list=[]

for rel_da in range(len(data)):
    month_list.append(data.loc[rel_da,'release_date'].strftime('%B'))
MonthList=list(set(month_list))
data['release_month']=month_list

num_muvies=[]

for Month in MonthList:
    num_muvies.append(len(data[data['release_month']==Month]))

MoviesMonth=pd.DataFrame({'Release_Month':MonthList,'Number of movies per month':num_muvies})
answers['21']=MoviesMonth['Release_Month'][MoviesMonth['Number of movies per month']==MoviesMonth['Number of movies per month'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь'}

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [34]:
answers['22']=MoviesMonth[MoviesMonth['Release_Month'].isin(['Июнь','Июль','Август'])]['Number of movies per month'].sum()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450}

# 23. Для какого режиссера зима – самое продуктивное время года?

In [35]:
data_winter=data[data['release_month'].isin(['Декабрь','Январь','Февраль'])]
dirscorewinter=[]

for director in Dirs:
    dirscorewinter.append(len(data_winter[data_winter['director'].str.contains(director)]))
    
WinterDirectors=pd.DataFrame({'Director':Dirs,'Number of winter releases':dirscorewinter})
#WinterDirectors.sort_values(by='Number of winter releases',ascending=False)
answers['23']=WinterDirectors['Director'][WinterDirectors['Number of winter releases']==WinterDirectors['Number of winter releases'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson'}

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [36]:
data24=data.copy()
data24['production_companies']=data24['production_companies'].str.split('|')
data24_1=data24.explode('production_companies')
data24_1['original_title']=data24_1['original_title'].apply(lambda x:len(x))
aver_length=[]

for company in list(data24_1['production_companies'].unique()):
    aver_length.append(data24_1[data24_1['production_companies']==company]['original_title'].mean())

Title_length=pd.DataFrame({'Company':list(data24_1['production_companies'].unique()),'Average title length':aver_length})
answers['24']=Title_length['Company'][Title_length['Average title length']==Title_length['Average title length'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions'}

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
data25_1=data24.explode('production_companies')
aver_lenword=[]

for company in list(data25_1['production_companies'].unique()):
    aver_lenword.append(data25_1[data25_1['production_companies']==company]['overview'].str.split(' ').apply(lambda x:len(x)).mean())

OView_length=pd.DataFrame({'Company':list(data25_1['production_companies'].unique()),'Overview word number':aver_lenword})
#OView_length.nlargest(20,'Overview word number')
answers['25']=OView_length['Company'][OView_length['Overview word number']==OView_length['Overview word number'].max()].to_string(index=False).strip()
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show'}

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [38]:
answers['26']='Inside Out, The Dark Knight, 12 Years a Slave'
data[data['vote_average']>np.percentile(list(data['vote_average']),99)]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [39]:
data27=data.copy()
data27['cast']=data27['cast'].str.split('|')
pairs_lst=[]

for x in range(len(data27)):
    pairs_lst.extend(list(itt.permutations(data27.loc[x,'cast'],2)))
    
collections.Counter(pairs_lst).most_common(8)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Daniel Radcliffe'), 8),
 (('Rupert Grint', 'Emma Watson'), 8),
 (('Emma Watson', 'Daniel Radcliffe'), 8),
 (('Emma Watson', 'Rupert Grint'), 8),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Owen Wilson', 'Ben Stiller'), 6)]

In [42]:
answers['27']='Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2 - Daniel Radcliffe & Emma Watson

ВАРИАНТ 3 - Rupert Grint & Emma Watson

# Submission

In [43]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [44]:
# и убедиться что ни чего не пропустил)
len(answers)

27